.fade-enter-active, .fade-leave-active {pointer-events: auto; transition: opacity 500ms}
.fade-enter, .fade-leave-to {opacity: 0; pointer-events: none}

.wpquiz-wrapper {--bg: #135EC7; --btn-min: 0; position: relative; overflow: hidden}
.wpquiz-wrapper .wpq-question-item {text-align: center}
.wpq-question-item .quiz-question {text-align: center; font-weight: 700; font-size: 30px;}

.quiz-answers {margin-top: 20px; font-weight: 600; display: flex; flex-wrap: wrap; align-items: center; justify-content: center}
.quiz-answers.block {flex-direction: column}

.quiz-answers .quiz-answer {
    margin: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    min-width: 130px;
    line-height: 1.4!important;
    padding: 8px 25px;
    display: inline-block;
    background-color: var(--bg, #135EC7);
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.wpquiz-content {font-size: 18px; text-align: center}
.wpquiz-content .title {font-size: 32px; font-weight: 700}
.wpquiz-button {
    color: #fff;
    min-width: 80px;
    cursor: pointer;
    text-align: center;
    padding: 12px 25px;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    min-width: var(--btn-min, 0);
    background-color: var(--bg, #135EC7);
}

.start-page-content {margin-bottom: 15px}