.wpquiz-app, .wpquiz-app * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#wpquiz-app {line-height: 1.7; padding-right: 30px}

.gap {height: 10px; flex: auto; width: 100%}
.gap-5 {height: 5px}

.wpquiz-app .block {width: 100%; display: block}

#wpquiz-app .btn-float {
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 100;
    font-size: 20px;
    line-height: 26px;
}

#wpquiz-app .btn-float .dashicons {--size: 25px}

.wpquiz-app input, .wpquiz-app textarea {
	color: #333;
	height: auto;
	font-size: 15px;
	font-weight: 500;
	padding: 5px 15px;
	line-height: 34px;
	background-color: #fafafa;
	border: 1px solid #ddd;
	border-color: #ddd!important;
	outline: none!important;
	border-radius: 4px;
}

.wpquiz-app input::-webkit-outer-spin-button,
.wpquiz-app input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wpquiz-app input[type="number"] {
    text-align: center;
    padding-left: 5px!important;
    padding-right: 5px!important;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.wpquiz-app input[type="checkbox"].switch {
    flex: 0 0 auto!important;
    width:50px;
    height: 25px;
    margin-top: 0;
    position: relative;
    outline: none!important;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.wpquiz-app input[type="checkbox"].switch:before {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    width: 20px;
    height: auto!important;
    margin: 0!important;
    background-color: #ddd;
    border-radius: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    transition: all 100ms;
}

.wpquiz-app input[type="checkbox"]:checked.switch:before {
    background-color: #8d00b1;
    left: calc(100% - 24px);
}


.wpquiz-app input[type="checkbox"].switch[data-off] {width: auto; padding-left: 17px!important; text-align: center; line-height: 22px}
.wpquiz-app input[type="checkbox"].switch[data-off]:checked {padding-left: 0!important; padding-right: 20px!important}

.wpquiz-app input[type="checkbox"].switch[data-off]:after {
    content: attr(data-off);
    padding: 0 10px;
    display: block;
}

.wpquiz-app input[type="checkbox"].switch[data-off]:checked::after {
    content: attr(data-on);
}

.wpquiz-app input.input-text {
    border: none!important;
    padding: 0!important;
    background-color: transparent!important;
}

.wpquiz-header {
    color: #fff;
    min-height: 80px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
	padding: 30px 25px 10px;
	margin: 0 -30px 10px -21px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.wpquiz-header .title {margin: 0; font-weight: bold; font-size: 32px; color: #000;}

.wpquiz-header .right {margin-left: auto}

table.wpquizes {
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	border-radius: 8px;
}

table.wpquizes tr th, table.wpquizes tr td {
	padding: 10px 15px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #e6e6e6;
}

table.wpquizes tr td:last-child {width: max-content; text-align: right; padding-right: 40px}

table.wpquizes .title {margin: 0; font-size: 15px; line-height: 1.2}
table.wpquizes .meta {color: #778699; display: block; line-height: 1.4; margin-top: 5px; font-size: 12px}

.wpbox {
	--gap: 30px;
    --bdcolor: #e6e6e6;
    margin-bottom: 30px;
	padding: 40px var(--gap);
	background-color: #fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.wpbox.nobody {padding-bottom: 0!important}

.wpbox header {
	display: flex;
	align-items: center;
	min-height: 40px;
	padding: 10px var(--gap);
	margin: -40px calc(var(--gap) * -1) 30px !important;
	border-bottom: 1px solid var(--bdcolor);
}

.wpbox.nobody header {border-bottom: none!important; margin-bottom: 0!important}

.wpbox header>* {margin-right: 5px}
.wpbox header>*:last-child {margin-right: 0}

.wpbox header .tools {margin-left: auto!important}
.wpbox header h3.title {margin-top: 0; margin-bottom: 0}

.wpbox header input.title {flex: 1}

@keyframes saving {
	to {
		transform: rotateZ(360deg);
	}
}

@-webkit-keyframes saving {
	to {
		transform: rotateZ(360deg);
	}
}


.wpquiz-btn {
	color: #333;
	font-size: 15px;
	cursor: pointer;
	font-weight: 600;
	padding: 5px 14px;
	display: inline-flex;
	text-decoration: none;
	align-items: center;
	background-color: #fecf2f;
	border-radius: 50px;
}

.wpquiz-btn .dashicons {margin-left: -3px; margin-right: 5px}
.wpquiz-btn .dashicons-format-status {position: relative; top: 2px}

.wpquiz-btn:hover {color: #333}

.wpquiz-btn.small {font-size: 11px; padding: 2px 10px; font-weight: 700}

.wpquiz-btn.purple {color: #fff; font-weight: 500 !important; background-color: #8d00b1}

.wpquiz-btn + .wpquiz-btn {margin-left: 7px}

.btn-save {margin-left: 8px; padding-left: 10px}
.btn-save .dashicons {--size: 25px; font-size: var(--size); width: var(--size); height: var(--size)}
.btn-save.saving .dashicons {
	animation: saving 1s infinite ease-in-out;
}





.wpquiz-form-row {
	display: grid;
	row-gap: 30px;
	column-gap: 50px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;
	align-items: flex-start;
	grid-template-columns: 220px 1fr;
}

.wpquiz-form-row:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.wpquiz-form-row > .label:not(.aligned) {margin-top: 8px}
.wpquiz-form-row .label .title {margin: 0; font-size: 16px}
.wpquiz-form-row > div.label {color: #888; font-size: 13px}


ul.wpquiz-repeater {
    margin: 0;
	padding: 0;
	font-size: 16px;
	list-style: none;
    border-radius: 5px;
}

ul.wpquiz-repeater > li {
	min-height: 40px;
	position: relative;
	margin-bottom: -1px;
    display: flex;
    border: 1px solid #e6e6e6;
}

ul.wpquiz-repeater > li:first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

ul.wpquiz-repeater > li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

ul.wpquiz-repeater > li:before {
	content: attr(data-no) ".";
	position: absolute;
	left: -32px;
	width: 25px;
	height: 40px;
	top: 50%;
	line-height: 40px;
	margin-top: -20px;
	font-weight: 700;
	text-align: right;
}

ul.wpquiz-repeater > li > * {
	height: auto;
    border: none;
    padding: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: transparent;
}

ul.wpquiz-repeater > li > .main {padding: 8px 15px; flex: 1;}

ul.wpquiz-repeater > li .number {
	flex: 0 0 auto;
	width: 60px;
	text-align: center;
	border-right: 1px solid #e6e6e6;
}

ul.wpquiz-repeater > li .btn-remove {
	width: 40px;
	display: none;
	padding: 10px;
	cursor: pointer;
	align-self: center;
}

ul.wpquiz-repeater > li:hover > .btn-remove {display: block}
ul.wpquiz-repeater > li.head:before {content: none}

ul.wpquiz-repeater > li.head {
	font-size: 13px;
    font-weight: 600;
    min-height: 25px;
	background-color: #e6e6e6;
}

ul.wpquiz-repeater > li.head > * {padding-top: 5px; padding-bottom: 5px}
ul.wpquiz-repeater > li.head > .number {padding-left: 0; padding-right: 0}
ul.wpquiz-repeater > li > input::placeholder {font-size: 13px}
ul.wpquiz-repeater > li.head>.btn-add {
    position: absolute;
    right: 5px;
    top: 50%;
    padding-top: 3px;
    line-height: 1;
    border-radius: 50px;
    transform: translateY(-50%);
}

